<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4 d-flex justify-content-between">
      <div>
        Events
      </div>
      <div>
      <%= link_to new_event_path, class: "btn btn-outline-secondary" do %>
        Host a new event <i class="fas fa-plus fa-fw"></i>
      <% end %>
      </div>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-3 mb-3">
    <%= render partial: "events/events_search_form" %>
    <hr>
    <%= render partial: "users/upcoming_events" %>
  </div>

  <div class="col-md-9">
    <% @events.each_slice(3) do |slice| %>
      <div class="row">
        <div class="col-md-12">
          <div class="card-deck">
            <%= render collection: slice, partial: "index_card", as: :event %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

